
<nav class="nav-menu">
    <div class="nav-title">
        Hasta Takip
    </div>

    <ul class="nav-list">
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                Ana Sayfa
            </NavLink>
        </li>

        <li>
            <NavLink href="/hastalar">
                Hastalar
            </NavLink>
        </li>

        <li>
            <NavLink href="/hastalar/yeni" class="new-btn">
                + Yeni Hasta
            </NavLink>
        </li>
    </ul>
</nav>
